* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    

    &::before,&::after {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $bgblack;
}

html {

    font-family: 'Cairo', sans-serif;
    color: $white;
    font-size: 62.5%;
    

}

a,
a:visited {
    color: inherit;
  
}