@media only screen and (max-width: 130rem) {

    html {
        font-size: 55.5%;
    }
}

@media only screen and (max-width: 110rem) {

    html {
        font-size: 50.5%;
    }
}

@media only screen and (max-width: 96rem) {

    html {
        font-size: 45.5%;
    }
}


@media only screen and (max-width: 80rem) {

    html {
        font-size: 38.5%;
    }
}

@media only screen and (max-width: 74rem) {

    html {
        font-size: 35.5%;
    }
}

@media only screen and (max-width: 700px) {

    html {
        font-size: 35.5%;
    }

    nav {

        height: 10rem;
        width: 100vw;
        display: flex;
        align-items: center;
        z-index: 1000;

        &::before {

            display: none;
        }

        .profile {

            .profile-picture {

                display: none;
            }

            .skills-toggle {

                display: none;
            }   
        }

        .navigation-bar {

            display: none;
            
        }

        .social-icons {

            display: none;
        }

        .mobile-version {

            width: 86%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hamburger {

                width: 5rem;
                height: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .line {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: white;
                    transition: .4s;
                }

                .line1 {

                    width: 50%;
                }

                .line3 {

                    width: 50%;
                }
                
            }

            .hamburger-close {
        

                .line1 {
                    
                    transform: translateX(-12rem);
                }

                .line2 {

                    transform: rotate(45deg);
                }

                .line3 {

                    transform: rotate(-45deg) translate(6px, -6px);
                    width: 100%;
                }
            }

            img {

                width: 4rem;

            }
        }

        .mobile-navigation-bar {

            position: absolute;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 100vw;
            background: $gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            z-index: -1;
            padding: 5rem;
            transition: .4s;

            li {

                font-size: 7rem;
                font-family: 'bison';
                position: relative;
                margin-bottom: 2rem;

                &::before {
                    
                    content: '';
                    width: 3rem;
                    height: 2px;
                    background-color: $purple;
                    position: absolute;
                    bottom: 0rem;
                    left: 0;
                    transition: all .3s;
                    
                }
    
                &:hover {
                    
                    color: $purple;
                }
    
                &:hover::after {
    
                    background-color: $white;
                }
            }
        }

        .mobile-navigation-bar-active {

            left: 0%;
        }
    }

    section {

        .watermark {
    
            display: none;
        }
    
        margin: 0;

        .slider-and-description{ 

            .tittle {

                h1 {
                    line-height: 1;
                }
            }

            max-width: 95%;
            margin: auto;

            .slider-and-description-container {

                flex-direction: column-reverse;

                .slider {

                    width: 100%;

                    .slides {
                        
                        .navigation-auto {
                            
                            width: 100%;
                        }

                    }
                }

                .description-and-button {

                    width: 100%;
                    margin: 4rem auto;

                    .description {

                        font-size: 3rem;
                    }

                    .btn {

                        font-size: 8rem;
                        position: absolute;
                        bottom: 10%;
                    }
                }
            }     
        }

        .websites-btn {

            display: none;
        }
    }
    
    
    .slider-count {
    
        display: none;
    }

    .websites {

        justify-content: center;
        align-items: center;

        h2 {
            position: initial;
            color: white;
            
        }

        margin:  auto;
        height: auto;

        .websites-container {

            .website {

                width: 100%;
                max-width: none;
            }
        }
    }
}
