@font-face {
    font-family: 'Bison';
    src: url(fonts/Bison-Bold.ttf);

  }

  @font-face {

    font-family: Bison-ThickOutline;
    src: url(fonts/Bison-ThickOutline.ttf);
  }



  @import 'helpers/colors';
  @import 'helpers/globals';  
  @import 'components/nav';
  @import 'components/sections';