@font-face {
    font-family: Bison-regular;
    src: url(fonts/Bison-Regular.ttf);
    src: url(fonts/Bison-Bold.ttf);
    src: url(fonts/Bison-Light.ttf);
  

  }

  @font-face {

    font-family: Bison-ThickOutline;
    src: url(fonts/Bison-ThickOutline.ttf);
  }



  @import 'helpers/colors';
  @import 'helpers/globals';  
  @import 'components/nav';
  @import 'components/sections';