// colors

$bgblack: #121214;
$gray: #1d1d1f;
$lightergray: #343336;
$lightgray: #E2E2E2;
$purple: #5A66FF;
$white: #FFFFFF;
$whitegradient: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);