.websites {

    position: relative;

    h2 {
        font-size: 16rem;
        color: $lightergray;
        font-family: Bison-ThickOutline;
        position: absolute;
        top: 0;
        right: 8rem;
        z-index: -1;
    }

    .websites-container {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4rem;
        gap: 4rem;
        margin: auto;
        // border: 1px red solid;

        .website {

            max-width: 44rem;
            border-radius: 10px;
            
            img {

                width: 100%;
                border-radius: 10px;
                box-shadow: 6px 6px 0px 0px #343336;
                transition: .3s;
                cursor: crosshair;

                &:hover {

                    box-shadow: 6px 6px 0px 0px rgba(90,102,255,1);

                }
            }
        }
    }
}